.primary-bg {
	background-color: #DFDFDF;
}
.primary-header-bg {
	background-color: #00F3FF
}
.tweet-box {
	margin-left: 2px;
	margin-right: 2px
}
.tweet-control {
	padding-left: 20px;
	padding-top: 20px
}
.my-foot {
	color: white;
	background: #373737
}